.item__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}


.item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    border: 1px solid #000;
    color: var(--bg-color);
}

.item:nth-child(2n){
    background-color: var(--secondary-color); 
}
.item:nth-child(2n + 1){
    background-color: var(--tertiary-color); 
}

.item__container.to-expiration > .item{
    background-color: #ec7b7b;
}

.item__container.item__container.low-stock > .item{
    background-color: #6a85a4;
}