.input__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .25rem;
    position: relative;
    height: 100%;
    width: 100%;
    padding: .5rem 1rem;
    background-color: transparent;
}

.input-label{
    font-size: 1.25rem;
    color: var(--primary-color);
    font-weight: 600;
}

.input-content{
    border: none;
    outline: none;
    background-color: var(--text-color);
    color: var(--primary-color);
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: 1rem;
    appearance: none;
    font-weight: 500;
}

.input-content::placeholder{
    color: var(--primary-color);
}

.danger{
    color: #a61c06; 
    font-weight: 600;
}