.btn-icon__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    border: 1px solid #000;
    background-color: var(--text-color);
}


.material-symbols-outlined{
    font-size: 1.5rem;
    padding: 0;
    display: flex;
}

.delete{
    color: #e2e2e2;
}
.delete:hover{
    color: #aca5a5;
}

.add_box{
    color:var(--bg-color);
}
:is(.add_box, .icon-label):hover{
    color: var(--primary-color);
}

.add_box, .delete{
    transition: 400ms;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-label{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    transition-duration: 400ms;
}