<div class="task__container">
    <h2 class="task-title">Produtos Cadastrados</h2>
    <div class="product__container">
        <div class="product__header">
            <p class="item item__header">Id</p>
            <p class="item item__header">Nome</p>
            <p class="item item__header">Preço</p>
            <p class="item item__header">Código</p>
            <p class="item item__header">Data da Compra</p>
            <p class="item item__header">Vencimento</p>
            <p class="item item__header">Estoque</p>
            <p class="item item__header">Ação</p>
        </div>
        <div *ngFor="let product of products; index as i">
            <app-item [product]="product" [itemId]="i" />
        </div>
    </div>
</div>