<div class="app__container">
    <header>
        <div class="app-brand__content">
            <img class="app-brand" src="/assets/images/icon-iventonet-512.png" alt="logo de cor verde clara com um icone de uma lapis e um caderdoe o nome INVENTONET">
        </div>
        <app-nav-bar  class="nav-bar"/>
        <!-- <app-side-bar class="side-bar" /> -->
    </header>
    <main class="main__container">
        <router-outlet>

        </router-outlet>
    </main>
    <footer>
        Desenvolvido por João Kleby
    </footer>
</div>