@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #668e4c;
    --secondary-color: #8daa6a;
    --tertiary-color: #a5b688;
    --text-color: #bdc3a6;
    --bg-color: #f6f5f4;
}

body{
    font-family: 'Gabarito', sans-serif;
}
